//colors
$theme-light-color: white;
$theme-dark-color: black;
$theme-middle-color: #788a97;
$theme-contrast-color: #b72e35;

//fonts defaults
$mainFont: 'source sans 3', calibri, sans-serif;
$default-font-size: 16px;
$small-font-size: 12px;
$large-font-size: 34px;

//sections
$content-width: 100%;
$header-height: 60px;
$footer-height: 70px;
$section-height: 600px;

// variavel para controlar o scale (zoom) das imagens
$scale: 0.9;

//text classes
.preHeader {
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: .05em;
}

.preHeader2 {
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .05em;
    color: $theme-middle-color;
}

.header {
    font-weight: 900;
    font-size: 1.8rem;
}

.text {
    font-weight: 400;
    font-size: 1rem;
}

.caption {
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: .05em;
}

.bold {
    font-weight: 900;
}

.middleColor {
    color: $theme-middle-color;
}

.message {
    color: $theme-contrast-color;
    font-size: small;
}

.globe-regions {
    text-align: center;
    margin-top: 40px;

    a {
        color: $theme-contrast-color;
    }
}

#about-work {
    margin-top: 50px;
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: 0.1em;
    text-align: center;
}


* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;

    font-family: $mainFont;
    font-size: $default-font-size;
    font-weight: normal;

    color: $theme-dark-color;
}

body {
    background-color: $theme-light-color;
}

a {
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 0.025em;

    &:hover {
        color: darken($theme-contrast-color, 15%);
    }
}

//navbar

//   .Navbar {
//     background-color: #46ACC2;
//     display: flex;
//     padding: 16px;
//     font-family: sans-serif;
//     color: white;
//   }

//   .Navbar__Items {
//     display:flex;
//   }

//   .Navbar__Link {
//     padding-right: 8px;
//   }

//   .Navbar__Items--right {
//     margin-left:auto;
//   }

//   .Navbar__Link-toggle {
//     display: none;
//   }

//fim Navbar



//menu dropdown
li.dropdown {
    display: inline-block;
}

//como dado nas teoricas: display:none, position:absolute, display:block
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
        color: $theme-dark-color;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-weight: 400;
        font-size: 0.9rem;

        &:hover {
            background-color: $theme-light-color;
            color: $theme-contrast-color
        }
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

//fim dropdown

.main-menu {
    display: flex;
    padding: 0.5rem;
    height: $header-height;

    li {
        list-style-type: none;
        align-self: center;
        padding: 0 10px 0 10px;
    }

    #nav-dropdown {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .professional {
        font-size: 1.2rem;
        font-weight: 400;
        color: $theme-middle-color;
    }

    .left {
        margin-right: auto;
    }

    .drc-logo {
        border-right: 1px solid;
    }

    #btn-toggle {
        display: none;
    }

    #btn-institucional {
        background-color: $theme-light-color;
        border: none;
        color: $theme-dark-color;
        cursor: pointer;
        font-weight: 900;
        font-size: 26px;
        letter-spacing: -10px;
    }
}

.zoom {
    overflow: hidden;

    img {
        transition: all 1s ease;
        vertical-align: middle;

        &:hover {
            transform: scale($scale);
        }
    }
}

.button {
    background: $theme-contrast-color;
    color: $theme-light-color;

    padding: 7px 20px;
    border-radius: 5px;

    font-weight: bold;
}

section {
    margin-bottom: 20px;
}


#sec_institucional {
    position: relative;
    max-width: $content-width;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    article {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        height: 100vh;
        text-align: center;
        justify-content: center;
        align-items: center;

        background-image: url("../images/media/img_institucional.jpg");
        //com o blend mode torna a imagem mais escura
        background-color: lightgray;
        background-blend-mode: multiply;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        // fixar imagem quando se faz scroll
        background-attachment: fixed;
        // quando se ativa a animação, a imagem fica mais pequena
        // ao mudar a largura do viewport

        //animação aos 0% completas (início) e 100%(terminada)
        @keyframes shrink {
            0% {
                background-size: 110%;
            }

            100% {
                background-size: 100%;
            }
        }

        //nome animação 
        animation: shrink 5s infinite alternate;
    }

    p {
        color: $theme-light-color;

        &.line1 {
            font-weight: 400;
            font-size: 1.6rem;
            transition: 1000ms;

            //& = parent selector (p) 
            &:hover {
                letter-spacing: 0.2em;
            }
        }

        &.line2 {
            //assim continua responsive e não cresce mais/faz as duas linhas de texto 
            max-width: 800px;

            font-weight: bold;
            font-size: $large-font-size;
        }
    }
}

#sec_news {
    position: relative;
    width: $content-width;
    height: auto;

    display: flex;
    flex-direction: row;
    padding: 40px;

    a {
        color: $theme-dark-color
    }

    article {
        flex: 1 1 50%;
        border-left: $theme-middle-color 1px solid;
        padding: 0 0 20px 10px;
    }

}

#sec_articles,
#sec_about_work {
    position: relative;
    width: $content-width;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    img {
        width: 100%;
    }

    article {
        width: 90%;
        margin: 5px;
        background-image: url("../images/design-dots.svg"), radial-gradient(#ffffff, #fafafa);
        background-position: right 10px center, left bottom;
        background-repeat: repeat-y, no-repeat;
        padding: 0 5px;
        display: flex;
        flex-direction: column;

        .button {
            width: fit-content;
        }
    }

    p {
        width: fit-content;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 1.6rem;
    }
}

#sec_world {
    background-image: url("../images/design-dots.svg"), radial-gradient(#cccccc, #fafafa);
    background-size: auto 90%, 150% 150%;
    background-position: right 10px center, left top;
    background-repeat: no-repeat;
    color: #000;
    padding-bottom: 40px;

    article {
        margin: 0 auto;
        width: 80%;
    }
}


#sec_records {
    position: relative;
    width: $content-width;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;

    article {
        flex: 0 0 20%;
        margin: 20px;
        text-align: center;
    }

    img {
        max-height: 60px;
    }
}

#sec_message {
    position: relative;
    width: $content-width;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    article {
        max-width: 800px;
        position: absolute;
        text-align: center;

        img {
            border-radius: 50%;
        }

        p {
            margin-top: 20px;
        }
    }
}


#sec_donations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: $content-width;
    position: absolute;
    top: 0;
    z-index: 5;

    .modal {
        position: fixed;
        display: none;
        width: $content-width;
        height: 100%;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .frm-donations {
        padding: 0.5em;
        width: 30rem;
        background-color: $theme-light-color;
        overflow: auto;

        label,
        fieldset,
        p {
            margin: 0.4rem;
        }

        .grid2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-flow: row;
        }

        .col2 {
            grid-column: span 2;
        }

        .grid3 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: row;
        }

        .col3 {
            grid-column: span 3;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            //text-align: right;
            width: 6rem;
        }

        input,
        select,
        button {
            margin: 0.5rem 0.1rem;
        }

        input {
            background-color: $theme-light-color;
            border: 1px solid #898f9c;
            text-indent: 0.5rem;
        }

        fieldset {
            border-style: none;
            border-bottom: $theme-middle-color solid 1px;
            padding-bottom: 1rem;
        }

        button {
            background: $theme-contrast-color;
            border-color: $theme-contrast-color;
            color: $theme-light-color;
            padding: 7px 20px;
            border-radius: 5px;
        }
    }
}

#sec-menu-institucional {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    width: $content-width;
    z-index: 3;
    right: -$content-width;
    transition: right 1s ease-in-out;

    p.preHeader {
        padding: 20px 0;
    }

    p.preHeader2 {
        padding: 25px 0 20px 0;
    }

    a {
        padding: 15px 0 10px 0;

        &:hover {
            background-color: darken($theme-light-color, 25%);
            border-radius: 5px;
        }
    }

    .modal {
        display: none;
        flex-direction: column;
        padding: 2rem;
        background: #c9d0d5;
        z-index: 2;
        height: 100vh;
        overflow: auto;

    }

    #btn-close {
        //border:none;
        width: 1.8rem;
        height: 1.8 rem;
        border: 0;
        border-radius: 50%;
        background: $theme-dark-color;
        color: $theme-light-color;
        font-size: 1.2rem;
        font-weight: 300;
    }
}



footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    //height: $footer-height;
    border-top: #788a97 1px solid;

    li {
        padding: 3px;
        display: block;
        list-style-type: none;
        align-self: center;
    }

    a {
        margin: 0.2rem;
    }

    div {
        margin: 1rem;
    }

    #links {
        flex-grow: 1;
        display: flex;
        flex-direction: row;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
    }

    #social {
        margin-top: 20px;

        img {
            width: 1.5rem;
            margin: 0.1rem;
        }
    }
}


// MEDIA QUERIES
// =============
//viewport menor que 1000px
@media all and (max-width:1000px) {

    .main-menu {
        #nav-dropdown {
            display: none;
        }

        #nav-dropdown.nav-toggle {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 60px;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 20;
            background-color: $theme-contrast-color;

        }
    }

    ul.ul-toggle {
        display: flex;
        flex-direction: column;
    }

    li.li-toggle {
        width: 100%;
        height: 10%;
        padding: 25px;
        border-top: $theme-light-color dotted 1px;

        a {
            color: $theme-light-color;
        }
    }

    .btn-white {
        display: flex;
        color: $theme-dark-color;
        font-weight: 900;
        font-size: 26px;
        cursor: pointer;
    }

    .main-menu {
        #btn-toggle {
            display: flex;
            color: $theme-dark-color;
            background-color: $theme-light-color;
            border: none;
            font-weight: 900;
            font-size: 26px;
            cursor: pointer;
        }
    }

    #btn-donations {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        z-index: 2;
        border-radius: 0;
        border: none;
    }

    footer {
        margin-top: 30px;
        margin-bottom: 80px;
        height: auto;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;

        div {
            margin: 0.5rem;
        }

        #links {
            flex-direction: column;
            align-items: center;

            ul {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

//viewport menor que 800px
@media all and (max-width:800px) {

    #sec_institucional {
        article {
            animation-name: none;
        }
    }

    #sec_news {
        flex-direction: column;
    }

    #sec_articles,
    #sec_records,
    #sec_about_work {
        margin: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

//apagar esta parte para baixo
//está cá só para consulta caso se vá fazer algo mais na pag


#myearth {
    height: 66vh;
    overflow: hidden;
}

.tooltip {
    white-space: nowrap;
    font-weight: 900;
    font-size: 1.1em;
    line-height: 110%;
    color: white;
    opacity: .8;
    transform: translate(-50%, -100%);
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
}